



.btn1{
    padding: 2px;
    font-size: 15px;
    color: antiquewhite;
    background-color: midnightblue;
}

.btn2{
    padding: 2px;
    font-size: 15px;
    color: antiquewhite;
    background-color: midnightblue;
}

.mama{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}